#可执行文件
#*.exe  
*.out
*.app
*.i*86
*.x86_64
*.hex

#编译生成的中间文件Object files
*.o
*.ko
*.obj
*.elf

#预编译头文件 Precompiled Headers
*.gch
*.pch

#库文件Libraries
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib

#Debug Files
*.dSYM/

#vim的临时缓存文件
*.swp  
*~     
#python 的编译文件
*.pyc  
#不是正则表达式，因为FreeMind-MMX的辅助文件以点开头
*.mmx  
/.project
